<!doctype html>
  <html lang="en">
      <head>
        <!-- Required meta tags -->

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }} type="text/css"/>
        <link rel="stylesheet" href={{ url_for('static', filename='css/destinacija.css') }} type="text/css"/>

      </head>
    <body onload="destinacija()">


        <!-- SPLASH SCREEN + NAVBAR -->


        <div class="jumbotron">

          {% include 'navbar.html' %}


          <h1 class="display-4">Cestitamo, stigli ste do kraja nase avanture! </h1>
          <p class="lead">Ili je ovo samo pocetak?</p>

        <!-- SVE O DESTINACIJI -->



                <div class="main_div">
                  <div class="top_div">
                    <img src={{url_for('static',filename='imgs/offers.jpg')}} alt="" id="slika">
                  </div>
                  <div class="bot_div">
                    <div class="naslov">
                      <h2>{{ dest.naziv }}</h2>
                      <h3>{{ dest.hotel }}</h3>
                      <p class="opis_ponude">
                        {{ dest.opis }}
                      </p>
                    </div>
                    <div class="info">
                      <div class="row2">
                        <p id="ocena">Ocena: </p>
                        <div class="stars">
                          {% for i in range(dest.zvezdice) %}
                            <i class="fas fa-star"></i>
                          {% endfor %}
                        </div>
                      </div>

                      <div class="row2">
                      <p class="cene">
                        <i class="fas fa-bed"></i>
                              {% if dest.cena_smestaj %}
                                {{dest.cena_smestaj}}
                              {% else %}
                                N/A
                              {% endif %}
                      </p>

                      <p class="cene">
                        <i class="fas fa-bus"></i>
                            {% if dest.cena_bus %}
                              {{dest.cena_bus}}
                            {% else %}
                              N/A
                            {% endif %}
                      </p>

                      <p class="cene">
                        <i class="fas fa-plane"></i>
                            {% if dest.cena_avion %}
                              {{dest.cena_avion}}
                            {% else %}
                              N/A
                            {% endif %}
                      </p>

                      </div>

                      <div class="row2 termini">

                        {% for aranzman in aranzmani %}
                          <p class="poldol">Termin: {{aranzman.dat_pol}} - {{aranzman.dat_dol}} </p>
                        {% endfor %}
                      </div>
                      <div class="row2">
                        <input type="button" id="rezervisi" name="btn">
                      </div>
                    </div>
                 </div>
              </div>

          </div>









      {% include 'subscribe_futer.html'%}





    	   <!-- BOOTSTRAP JS IMPORTS -->



        <script src={{url_for('static',filename='js/custom.js')}}></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      </body>
    </html>
