<!doctype html>
<html lang="en" style="height:100%">
  <head>
    <!-- Required meta tags -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }} type="text/css"/>
    <link rel="stylesheet" href={{ url_for('static', filename='css/drzava.css') }} type="text/css"/>

  </head>
<body onload="drzava()">






    <!-- SPLASH SCREEN + NAVBAR -->





    <div class="jumbotron">

      {% include 'navbar.html' %}


      <h1 class="display-4">Skoro smo stigli!</h1>
      <p class="lead">Ostalo je samo da izaberete hotel i lokaciju :)</p>


{% for des in dest %}
      <div class="glavni">

        <img src={{url_for('static',filename="imgs/offers.jpg")}} class="slika">
          <div class="opis">
            <h3 class="tekst" id="naslov">
            {{des.naziv}}
          </h3>
          <p class="tekst" id="tekst">
            {{des.opis}}
          </p>
          </div>
          <div class="navigate">
            <button class="nav_btn left" class="levo">
              <i class="fas fa-arrow-alt-circle-left"></i>
            </button>
            <a id="saznaj" href="">
            <button id="klik" class="nav_btn_centar">
              Saznaj vise
            </button>
            </a>

            <button class="nav_btn right" class="desno">
            <i class="fas fa-arrow-alt-circle-right"></i>
            </button>
          </div>

      </div>
{% endfor %}

  </div>







  {% include 'subscribe_futer.html'%}



	   <!-- BOOTSTRAP JS IMPORTS -->



    <script src={{url_for('static',filename='js/custom.js')}}></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
