<!doctype html>
<html lang="en" style="height:100%">
  <head>
    <!-- Required meta tags -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }} type="text/css"/>
    <link rel="stylesheet" href={{ url_for('static', filename='css/kontakt.css') }} type="text/css"/>


    <style media="screen">
      .successmail{
        background-color: rgba(0,0,0,130);
        width: 100vw;
        height: 100vh;
        position: absolute;
        z-index: 99;
        display: none;
      }
      .confirm{
        position: absolute;
        top:40%;
        left: 33%;
        font-size: 50px;
        width: 30%;
        margin: auto;
        color: #ff5e13;
      }
      .confirm > button{
        width: 90%;
        font-size: 30px;
        border-color: #ff5e13;
        color: #ff5313;
        background-color: transparent;
        border-radius: 20px;
        transition: all 0.3s ease;
      }
      .confirm > button:hover{
        border-color: #fff;
        color: #fff;
        background-color: #ff5e13;
      }
    </style>
  </head>
<body onload="kontakt_email()">
  <div class="successmail">
    <div class="confirm">
      <p>Mejl poslat!</p>
      <button type="button" name="button">Zatvori</button>
    </div>
  </div>
    <!-- SPLASH SCREEN + NAVBAR -->

    <div class="jumbotron" >

      {% include 'navbar.html' %}


      <h1 class="display-4">Imate pitanja? Kontaktirajte nas</h1>

      <br><br><br>



      <form id="contact-form" role="form">

      <div class="messages"></div>

      <div class="controls">

          <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                      <label for="form_name">Ime *</label>
                      <input id="form_name" type="text" name="name" class="form-control" value="Marjan" placeholder="Unesite svoje ime *" required="required" data-error="Firstname is required.">
                      <div class="help-block with-errors"></div>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <label for="form_lastname">Prezime *</label>
                      <input id="form_lastname" type="text" name="surname" value="Stojanov" class="form-control" placeholder="Unesite svoje prezime" required="required" data-error="Lastname is required.">
                      <div class="help-block with-errors"></div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                      <label for="form_email">Email *</label>
                      <input id="form_email" type="email" name="email" class="form-control" value="slark4life@gmail.com" placeholder="Primer: example@gmail.com *" required="required" data-error="Valid email is required.">
                      <div class="help-block with-errors"></div>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <label for="form_need">Sta Vas konkretno zanima?  *</label>
                      <select id="form_need" name="subject" class="form-control" required="required" data-error="Please specify your need.">
                          <option value="Informacije o nama">Informacije o nama</option>
                          <option value="Last minute ponude">Last minute ponude</option>
                          <option value="Rezervacija">Rezervacija</option>
                          <option value="Drugo">Drugo</option>
                      </select>
                      <div class="help-block with-errors"></div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <div class="form-group">
                      <label for="form_message">Tekst poruke *</label>
                      <textarea id="form_message" name="message" value="ayyyyyyyyyyyyyyyy" class="form-control" placeholder=" *" rows="4" required="required" data-error="Please, leave us a message."></textarea>
                      <div class="help-block with-errors"></div>
                  </div>
              </div>
              <div class="col-md-12">
                  <input type="submit" id="sendbtn" class="btn btn-success btn-send" value="Send message">
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <p class="text-muted">
                      <strong>*</strong> Polja sa zvezdicom su obavezna.</p>
              </div>
          </div>
      </div>

  </form>
</div>

{% include 'subscribe_futer.html'%}



	   <!-- BOOTSTRAP JS IMPORTS -->


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script src={{url_for('static',filename='js/jquery.js')}}></script>

    <script src={{url_for('static',filename='js/custom.js')}}></script>
  </body>
</html>
