<!-- LISTING -->

      <div class="listing">
      <a href="#">
        <div class="item">
          <img src="offers.jpg" class="item_img"/>
          <div class="title_desc">
            <h4>Title 1</h4>
            <p>Text about Title 1, lorem ipsum is boring</p>
          </div>
          <div class="cmd">
              <button>
                  <i class="fas fa-plane"></i>
              </button>
              <button>
                  <i class="fas fa-bus"></i>
              </button>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="item">
          <img src="offers.jpg" class="item_img"/>
          <div class="title_desc">
            <h4>Title 1</h4>
            <p>Text about Title 1, lorem ipsum is boring</p>
          </div>
          <div class="cmd">
              <button>
                  <i class="fas fa-plane"></i>
              </button>
              <button>
                  <i class="fas fa-bus"></i>
              </button>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="item">
          <img src="offers.jpg" class="item_img"/>
          <div class="title_desc">
            <h4>Title 1</h4>
            <p>Text about Title 1, lorem ipsum is boring</p>
          </div>
          <div class="cmd">
              <button>
                  <i class="fas fa-plane"></i>
              </button>
              <button>
                  <i class="fas fa-bus"></i>
              </button>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="item">
          <img src="offers.jpg" class="item_img"/>
          <div class="title_desc">
            <h4>Title 1</h4>
            <p>Text about Title 1, lorem ipsum is boring</p>
          </div>
          <div class="cmd">
              <button>
                  <i class="fas fa-plane"></i>
              </button>
              <button>
                  <i class="fas fa-bus"></i>
              </button>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="item">
          <img src="offers.jpg" class="item_img"/>
          <div class="title_desc">
            <h4>Title 1</h4>
            <p>Text about Title 1, lorem ipsum is boring</p>
          </div>
          <div class="cmd">
              <button>
                  <i class="fas fa-plane"></i>
              </button>
              <button>
                  <i class="fas fa-bus"></i>
              </button>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="item">
          <img src="offers.jpg" class="item_img"/>
          <div class="title_desc">
            <h4>Title 1</h4>
            <p>Text about Title 1, lorem ipsum is boring</p>
          </div>
          <div class="cmd">
              <button>
                  <i class="fas fa-plane"></i>
              </button>
              <button>
                  <i class="fas fa-bus"></i>
              </button>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="item">
          <img src="offers.jpg" class="item_img"/>
          <div class="title_desc">
            <h4>Title 1</h4>
            <p>Text about Title 1, lorem ipsum is boring</p>
          </div>
          <div class="cmd">
              <button>
                  <i class="fas fa-plane"></i>
              </button>
              <button>
                  <i class="fas fa-bus"></i>
              </button>
          </div>
        </div>
      </a>
  </div>





  <!--
.listing{
  width: 70%;
  margin: auto;
}

.item{
  margin: 40px;
  background-color: transparent;
  box-shadow: 35px 35px 150px 30px black;

}

.item_img{
  margin: 15px;
  width: 15vw;
  height: 20vh;
  display: inline-block;
}
.title_desc{
  color: black;
  display: inline-block;
}

.cmd{
  width: 15%;
  margin-left: 100px;
  display: inline-block;
}
.cmd button{
  background-color: transparent;
  border: 1px solid black;
  width: 30%;
  height: 50%;
  margin: auto;
  font-size: 1em;
}


   -->