<!doctype html>
<html lang="en" style="height:100%">
  <head>
    <!-- Required meta tags -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }} type="text/css"/>
    <link rel="stylesheet" href={{ url_for('static', filename='css/pretraga.css') }} type="text/css"/>

  </head>
<body onload="token()">

    <!-- SPLASH SCREEN + NAVBAR -->

    <div class="jumbotron">

      {% include 'navbar.html' %}

      {% if drzava %}
      <h2>Ah ta divna {{drzava.naziv}} ...</h2>
      {%else%}
      <h2 >Rezultati pretrage:</h2>
      {% endif %}

      <div class="listing">
        {% for dest in destinacije %}
                <a href={{dest.url}}>
                  <div class="glavni">

                    <img src={{url_for('static',filename=dest.slika_URL)}} class="slika">

                    <div class="opis">
                      <h3 class="tekst naslov">{{dest.naziv}} - {{dest.hotel}}</h3>
                      <p class="tekst" id="tekst">
                        {{dest.opis}}
                        Lorem ipsum dolor sit amet, consectetur adipisicing eliatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                    </div>
                </a>


                <div class="clicks">
                  <div class="lajkovi">
                    <i class="fas fa-thumbs-up"></i><p>{{dest.lajkovi}}</p>
                  </div>
                  <div class="omiljeno">
                    <i class="fas fa-heart"></i><p>{{dest.omiljeno}}</p>
                  </div>
                </div>


              </div>
        {% endfor %}
      </div>

</div>


<!-- O NAMA -->


{% include 'subscribe_futer.html'%}



	   <!-- BOOTSTRAP JS IMPORTS -->


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script src={{url_for('static',filename='js/jquery.js')}}></script>

    <script src={{url_for('static',filename='js/custom.js')}}></script>
  </body>
</html>
