
body{
    background-image: url('../imgs/home.jpg');
    background-position: center bottom;
}

.container{
  width:95%;
  margin: 3vw auto;
}

.container img{
  height: 15vw;
  margin: auto;
  display: block;
  border-radius: 150px;
  transition: all 1s ease;
}

.container img:hover{
  transform: rotateY(180deg) scale(1.3);
  cursor: pointer;
}

.container-fluid{
  background-position: bottom right;
}

#last_minute_banner.col{
  margin: 0px;
}
#last_minute_banner{
margin:auto;
background-image: url('../imgs/as.jpg');
background-repeat:no-repeat;
background-position:top left;
background-size:cover;
min-height: 100vh;
max-height: auto;
width: 100vw;

}

#navbarSupportedContent > form > input{
  width:10vw;
}
.form-inline .form-control{
  width:10vw;
}

.last_min_span{
  font-family:Scratchy;
  font-size:4em;
  font-weight:500;
}

#last_min_h2{
  width: 50%;
  margin: auto;
  display: block;
  padding-top: 50px;
  font-size: 3em;
  color: white;
}

#last_min_offer{
	background-image:linear-gradient( to top, transparent, rgb(254, 196, 34) );
	margin:10vw 3vw;
	min-height:25vw;
  border-radius: 5px;

}



.col.dest{
  width: 45%;
  margin: auto;
}
.col.dest > img{
  max-width: 80%;
  box-shadow: 15px 35px 100px black;
  margin: auto;
}


img.last_min_img{
  max-height: 250px;
  width: 600px;
  border-radius: 100px;
  margin: auto;
  margin-bottom:  30px;
  box-shadow: 30px 30px 70px black;
  display: block;
  transition: transform 0.5s, box-shadow 0.3s ease;
}

  img.last_min_img:hover{
    transform: scale(1.2);
    box-shadow: 15px 15px 100px 50px white;
  }
.last_min_info_btn.btn-outline-success{
  border-radius: 15px;
  border: 1px solid black;
  color: black;
  font-size: 1.5em;
  display: block;
  width: 25vw;
  margin: auto;

}


@media(max-width: 1000px)
{
      #btn_zaprati{
      margin-top: 10px;
      border-radius: 10px;
      font-size: 0.7em;
      font-family: Scratchy;
      width: 100%;
      display: inline;

    }


    #txt_email{
      margin-top:2vh;
      font-size: 0.7em;
      border-radius: 10px;
      font-family: Scratchy;
      width: 100%;
      display: inline;
    }

    #navbarSupportedContent{
      background-color: rgba(0,0,0,1);
      background-image: url('../imgs/find.jpg');
      border-radius: 25px;
      width: 100%;
    }


    #navbarSupportedContent > form > input{
      width: 80%;
    }

    #last_min_h2 {
      margin: 0px;
      width: 100%;
    }


    .last_min_span{
      font-size: 2em;
    }
    #last_min_offer > div > img{
      width: 80%;
      height: 30%;
      box-shadow: 15px 15px 50px black;
    }

    .col.dest{
      width: 100%;
      display: block;
      margin-bottom: 2vh;
    }

    .row{
      width: 100%:
    }

    .col.dest > img{
      height: 40vh;
      width: 80vw;
      max-width: 80vw;
    }
    #last_min_offer > div > button{
      width: 90%;
    }
}
