
body{
}

.jumbotron{
	background-image: url('../imgs/dest.jpg');
	background-size: cover;
	height: auto;
	color: black;
}

.main_div > *{
	width: 80%;
	margin:auto;
	height: 50vh;
}

#slika{
	width:100%;
	margin: auto;
	display: block;
	height: 100%;
}

.naslov{
	text-align: center;
	width: 49.5%;
	padding:25px;
	position: absolute;
	left: 5px;
	top:5px;
	bottom:5px;
}

.bot_div{
	position: relative;
	background-image:url('../imgs/find.jpg');
	color: white;
	height: 60vh;
}

h2,h3{
	width: 40%;
	margin:auto;
	padding: 5px;
}

.opis_ponude{
	width: 80%;
	margin:auto;
	text-align: justify;
	padding:25px;
}

.info{
	position: absolute;
	right: 0px;
	top:0px;
	bottom:5px;
	width: 49.5%;
	border: 1px solid red;
	height: 100%;
}

.row2{
	position: relative;
	width: 95%;
	min-height: 15%;
	margin: 15px;
	font-size: 2em;
	text-align: left;
	border-radius: 10px;
}
.cene{
	padding: 10px;
	font-size: 30px;
	margin: 8px;
	margin-left: 7%;
	display: inline;
	border-radius: 10px;
	transition: all 0.3s ease;
}
.cene:hover{
		background-color: yellow;
		color: black;
		cursor: pointer;
}
#rezervisi{
	width:50%;
	height: 100%;
	margin: auto;
	display: block;
	margin-top: 10px;
	border-radius: 20px;
}

.stars{
	position: absolute;
	right: 10%;
	top:5px;
	display: inline-block;
	color: gold;

}
.poldol{
	padding: 20px 0px;
	cursor: pointer;
	font-size: 20px;
	text-align: center;
	width: 100%;
	margin-top: 3%;
	border-radius: 10px;
}
.poldol:hover{
		background-color: yellow;
		color: black;
}
@media(max-width:1000px)
{
	body > div.jumbotron > h1{
		font-size: 30px;
	}
	.top_div{
			width: 97%;
			height: 80vh;
	}
	.bot_div{
		width: 97%;
		height: auto;
	}
	.info, .naslov{
		position: relative;
		display: block;
		width: 100%;
		margin: 20px 0;
		left:0px;
		text-align: center;
	}
	#ocena{
		font-size: 25px;
		width: 30%;
		margin: auto;
	}
	.stars{
		position: relative;
		right: auto;
		display: block;
		width: 50%;
		text-align: center;
		font-size: 20px;
		margin: auto;
	}

	.cene{
		display: block;
		margin: 10px auto ;
		width: 40%;
		text-align: center;
		font-size: 25px;
	}
}
