html{
  height: 100%;
}
body{
  height: auto;
  width: 100vw;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
}

a:active {
    color: black;
}

.jumbotron{
    background-image: url('../imgs/hand.jpg');
    background-size: cover;
    color: black;
    height: auto;
}

h2,h4{
  margin: 2vw auto;
  font-family: Scratchy;
  text-align: center;
}

@font-face {
    font-family: Scratchy;
    src: url('../fonts/Widescratch Italic.ttf');
}

.glavni{
	width: 90vw;
	height: 25vh;
	margin: 25px auto;
	box-shadow: 0px 0px 200px  black;
	background-color: rgba(240,240,240,0.2);
  padding-bottom: 25px;
  position: relative;
}

.slika{
	width:30%;
	height: 100%;
	display: inline-block;
	margin: 13px;
  vertical-align: inherit;
}

.opis{
  position: absolute;
  display: inline-block;
	margin-top: 10px;
  width: 50%;
}
.tekst{
  overflow-y: hidden;
  max-height: 15vh;
  font-size: 12px;
  overflow-y:scroll;
	width: 100%;
	text-align: center;
}

.naslov{
  font-size: 15px;
  overflow-y: hidden;
}
.clicks{
  position: absolute;
  right: 10px;
  top: 10px;
  bottom: 10px;
  width: 10%;
  display: inline-block;
  box-shadow: 0px 0px 200px  black;
}

.omiljeno, .lajkovi{
  text-align: center;
  font-size: 20px;
  margin-top: 15px;
  transition: font-size 0.5s ease;
}
.omiljeno{
  color: red;
}
.lajkovi{
  color: blue;
}
.omiljeno i:hover, .lajkovi i:hover{
  cursor: pointer;
  font-size: 35px;
}
.omiljeno p, .lajkovi p{
  color: black;
}
body > footer > div{
	margin: 0px;
}

@media(max-width: 1000px)
{
  .jumbotron h1{
    font-size: 2em;
  }
      #btn_zaprati{
      margin-top: 10px;
      border-radius: 10px;
      font-size: 0.7em;
      font-family: Scratchy;
      width: 100%;
      display: inline;
    }


    #txt_email{
      margin-top:2vh;
      font-size: 0.7em;
      border-radius: 10px;
      font-family: Scratchy;
      width: 100%;
      display: inline;
    }

    #navbarSupportedContent{
      background-color: rgba(0,0,0,1);
      background-image: url('../imgs/find.jpg');
      border-radius: 25px;
      width: 100%;
    }


    #navbarSupportedContent > form > input{
      width: 80%;
    }

   .glavni{
   	width: 80vw;
   	height: 50vh;
    display: block;
   }
   .slika{
    top:20px;
    margin: 20px;
    height: 95%;
    display: block;
    position: relative;

   }
   .opis{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 65%;
    height: 55%;
   }

   .clicks{
    width: 40%;
    margin:auto;
    top: initial;
  right: 10px;
  bottom: 10px;
   }
   .navigate{
   	padding-bottom:  20px;
   }

   .nav_btn_centar{
   	font-size:15px;
   }
}

button:active {
outline: none;
border: none;
opacity: 1!important;
}

button:focus {
outline:0;
}
