
body{
    background-image: url('../imgs/sto.jpg');
    background-repeat: repeat-y;
    background-position: top left;
    background-size: cover;
}

.jumbotron{
  height: auto;
}
h2,h4{
  margin: 2vw auto;
  text-align: center;

}

#navbarSupportedContent > form > input{
  width:10vw;
}
.form-inline .form-control{
  width:10vw;
}


.polaroid {
  position: absolute;
  width: 17vw;
  height: 40vh;
  background-image: url('../imgs/papir.jpg');
  background-size: cover;
  transition: width 0.5s, height 0.5s, box-shadow 0.4s;
  display: none;
}

.polaroid:hover {
  z-index: 999;
  width: 20vw;
  height: 45vh;
  box-shadow: 10px 10px 80px 20px black;
  cursor: pointer;

}

.sto{
  position: relative;
  height: 100vh;
  width: 100vw;
}

.slika_u_pol{
  display: block;
  position: relative;
  margin: auto;
  margin-top: 15px;
  width: 92%;
  height: 70%;

}


footer{
  position: relative;
  padding-top:15px;
  padding-bottom:30px;
  background-color: whitesmoke;
  margin: 0px;
}

@media(max-width: 1000px)
{
  .jumbotron h1{
    font-size: 2em;
  }
      #btn_zaprati{
      margin-top: 10px;
      border-radius: 10px;
      font-size: 0.7em;
      font-family: Scratchy;
      width: 100%;
      display: inline;
    }

    #txt_email{
      margin-top:2vh;
      font-size: 0.7em;
      border-radius: 10px;
      font-family: Scratchy;
      width: 100%;
      display: inline;
    }

    #navbarSupportedContent{
      background-color: rgba(0,0,0,1);
      background-image: url('../imgs/find.jpg');
      border-radius: 25px;
      width: 100%;
    }


    #navbarSupportedContent > form > input{
      width: 80%;
    }

    #last_min_h2 {
      margin: 0px;
      width: 100%;
    }
    .polaroid{
      position: relative;
      width: 90vw;
      height: 40vh;
      margin: auto;
      background-image: url('../imgs/papir.jpg');
      background-size: cover;
      transition: box-shadow 0.5s;
      transform: rotate(0) !important;
      left: 0 !important;
      top: 0 !important;
    }

    .polaroid:hover{
      width:90%;
      height: 60vh;
    }
    .sto {
      height: auto;
    }
    .slika_u_pol{
      padding-top: 15px;
    }

}
