@font-face {
    font-family: Scratchy;
    src: url('../fonts/Widescratch Italic.ttf');
}
*{
    font-family: Scratchy;
}

html,body{
  max-width: 99vw;
}

body{
    height: 100%;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}
.navbar.navbar-expand-lg.navbar-light.bg-light{
    background-image: url('../imgs/find.jpg');

    min-height: 60px;
    border-radius: 30px;
    padding: 10px;
    width: 97%;
    margin: 3vw 0px;
    opacity: 1;
  /*  position: fixed;*/
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand,
.navbar-light .navbar-nav .active>.nav-link {
    color: white;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-brand:hover,
.navbar-light .navbar-nav .active>.nav-link:hover, .dropdown-item:hover{
    color:#ff5e13;
}
.navbar-light .navbar-nav .nav-link:active, .navbar-light .navbar-brand:active,
.navbar-light .navbar-nav .active>.nav-link:active, .dropdown-item:active{
    color:#ff5e13;
}
.btn-outline-success{
    border-color: #ff5e13;
    color: #ff5313;
    background-color: transparent;
}
.btn-outline-success:hover{
    border-color: #fff;
    color: #fff;
    background-color: #ff5e13;
}
.btn-outline-success:active{
    border-color: #fff;
    color: #fff;
    background-color: #ff5e13;
}


h2,h4{
  margin: 2vw auto;
  text-align: center;
}

.jumbotron{
  background-color: transparent;
  height: auto;
  color:white;
  margin: 0px;
  padding-top:5px;
  width: 100vw;
  height: 100vh;
}



.container-fluid.zaprati{
  background-image: url('../imgs/find.jpg');
  background-position: top right;

}

#baner_zaprati{
  height: 25vh;
  margin: auto;
  width: 50%;
  border-radius: 2px solid red;
}

#btn_zaprati{
  border-radius: 10px;
  font-size: 0.8em;
  font-family: Scratchy;
  width: 15vw;
  display: inline;
  margin-top: 6vw;

}


#txt_email{
  font-size: 1em;
  border-radius: 10px;
  font-family: Scratchy;
  width: 30vw;
  display: inline;
}

@media(max-width: 1000px)
{
      #btn_zaprati{
      margin-top: 10px;
      border-radius: 10px;
      font-size: 0.7em;
      font-family: Scratchy;
      width: 100%;
      display: inline;

    }


    #txt_email{
      margin-top:2vh;
      font-size: 0.7em;
      border-radius: 10px;
      font-family: Scratchy;
      width: 100%;
      display: inline;
    }

    #navbarSupportedContent{
      background-color: rgba(0,0,0,1);
      background-image: url('../imgs/find.jpg');
      border-radius: 25px;
      width: 100%;
    }


    #navbarSupportedContent > form > input{
      width: 80%;
    }

  }
